sudo: false
language: node_js
node_js:
  - '8'
  - '10'
before_install:
  - npm i npminstall -g
install:
  - npminstall
os:
  - osx
  - linux
script:
  - npm run cov
after_script:
  - npminstall codecov && codecov